In [1]:
import sys
import os
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

atlas_path = "C:/Users/natha/OneDrive/Desktop/C++/Atlas/x64/Debug"
sys.path.append(atlas_path)


from AtlasPy.core import Hydra, Portfolio, Strategy
from AtlasPy.ast import *

In [2]:
exchange_path = "C:/Users/natha/OneDrive/Desktop/C++/Atlas/AtlasPy/src/exchangeVBT"
strategy_id = "test_strategy"
exchange_id = "test_exchange"
portfolio_id = "test_portfolio"

hydra = Hydra()
intial_cash = 100.0
exchange = hydra.addExchange(exchange_id, exchange_path, "%Y-%m-%d %H:%M:%S")
portfolio = hydra.addPortfolio(portfolio_id, exchange, intial_cash)
hydra.build()

In [5]:
st = time.time()
atr_node = ATRNode.make(
    exchange,
    "High",
    "Low",
    14
) 
et = time.time()
print(f'Elapsed time {1000*(et-st):.2f} ms')

Elapsed time 10.50 ms

In [9]:
multiplier = 2
median_node = AssetMedianNode.make(
    exchange,
    "High",
    "Low"
)
upper_band = AssetOpNode.make(
    median_node,
    AssetScalerNode(atr_node, AssetOpType.MULTIPLY, multiplier),
    AssetOpType.ADD
)
lower_band = AssetOpNode.make(
    median_node,
    AssetScalerNode(atr_node, AssetOpType.MULTIPLY, multiplier),
    AssetOpType.SUBTRACT
)

In [14]:
timestamps = exchange.getTimestamps()
atr_2 = atr_node.getATR()[0]

df_atr = pd.DataFrame({
    "Timestamps": timestamps,
    
    "ATR ATLAS": atr_2
})
df_atr

               Timestamps     ATR Data    ATR ATLAS
0     1514782800000000000          NaN     0.000000
1     1514869200000000000          NaN     0.000000
2     1514955600000000000          NaN     0.000000
3     1515042000000000000          NaN     0.000000
4     1515128400000000000          NaN     0.000000
...                   ...          ...          ...
2187  1703739600000000000  1387.571718  1387.571718
2188  1703826000000000000  1409.906718  1409.906718
2189  1703912400000000000  1382.620412  1382.620412
2190  1703998800000000000  1345.482068  1345.482068
2191  1704085200000000000  1389.409130  1389.409130

[2192 rows x 3 columns]