In [1]:
from datetime import datetime
import time
import os

import numpy as np
import pandas as pd

import vectorbt as vbt

In [4]:
start = '2019-01-01 UTC'  # crypto is in UTC
end = '2020-01-01 UTC'
data = vbt.YFData.download(
    'BTC-USD',
    start=start,end=end
)

In [5]:
data.data

{'AAPL':                                  Open        High         Low       Close  \
 Date
 2011-01-03 05:00:00+00:00    9.845952    9.985641    9.821763    9.964778
 2011-01-04 05:00:00+00:00   10.051552   10.053367    9.921841   10.016782
 2011-01-05 05:00:00+00:00    9.964170   10.108999    9.962658   10.098719
 2011-01-06 05:00:00+00:00   10.120493   10.136518   10.065464   10.090560
 2011-01-07 05:00:00+00:00   10.098419   10.169775   10.035226   10.162821
 ...                               ...         ...         ...         ...
 2023-12-22 05:00:00+00:00  194.931260  195.160978  192.724085  193.353287
 2023-12-26 05:00:00+00:00  193.363270  193.642911  192.584265  192.803986
 2023-12-27 05:00:00+00:00  192.244692  193.253399  190.846467  192.903839
 2023-12-28 05:00:00+00:00  193.892582  194.411923  192.923817  193.333298
 2023-12-29 05:00:00+00:00  193.652887  194.152249  191.485654  192.284637

                               Volume  Dividends  Stock Splits
 Date
 2011-01-03 05:00:00+00:00  445138400        0.0           0.0
 2011-01-04 05:00:00+00:00  309080800        0.0           0.0
 2011-01-05 05:00:00+00:00  255519600        0.0           0.0
 2011-01-06 05:00:00+00:00  300428800        0.0           0.0
 2011-01-07 05:00:00+00:00  311931200        0.0           0.0
 ...                              ...        ...           ...
 2023-12-22 05:00:00+00:00   37122800        0.0           0.0
 2023-12-26 05:00:00+00:00   28919300        0.0           0.0
 2023-12-27 05:00:00+00:00   48087700        0.0           0.0
 2023-12-28 05:00:00+00:00   34049900        0.0           0.0
 2023-12-29 05:00:00+00:00   42628800        0.0           0.0

 [3270 rows x 7 columns],
 'MSFT':                                  Open        High         Low       Close  \
 Date
 2011-01-03 05:00:00+00:00   21.678348   21.778818   21.577878   21.624249
 2011-01-04 05:00:00+00:00   21.593332   21.771087   21.523776   21.709259
 2011-01-05 05:00:00+00:00   21.562423   21.647436   21.461953   21.639708
 2011-01-06 05:00:00+00:00   21.670627   22.296633   21.531515   22.273447
 2011-01-07 05:00:00+00:00   22.134333   22.211618   21.832924   22.103420
 ...                               ...         ...         ...         ...
 2023-12-22 05:00:00+00:00  372.990248  374.487479  372.022037  373.888580
 2023-12-26 05:00:00+00:00  374.307814  376.244235  372.810582  373.968445
 2023-12-27 05:00:00+00:00  373.000244  374.367710  372.121863  373.379547
 2023-12-28 05:00:00+00:00  374.677110  375.765095  373.469353  374.587280
 2023-12-29 05:00:00+00:00  375.305952  376.463814  372.790614  375.345886

                              Volume  Dividends  Stock Splits
 Date
 2011-01-03 05:00:00+00:00  53443800        0.0           0.0
 2011-01-04 05:00:00+00:00  54405600        0.0           0.0
 2011-01-05 05:00:00+00:00  58998700        0.0           0.0
 2011-01-06 05:00:00+00:00  88026300        0.0           0.0
 2011-01-07 05:00:00+00:00  73762000        0.0           0.0
 ...                             ...        ...           ...
 2023-12-22 05:00:00+00:00  17091100        0.0           0.0
 2023-12-26 05:00:00+00:00  12673100        0.0           0.0
 2023-12-27 05:00:00+00:00  14905400        0.0           0.0
 2023-12-28 05:00:00+00:00  14327000        0.0           0.0
 2023-12-29 05:00:00+00:00  18723000        0.0           0.0

 [3270 rows x 7 columns]}

In [14]:
fast_ma = vbt.MA.run(btc_price, 10, short_name='fast')
slow_ma = vbt.MA.run(btc_price, 20, short_name='slow')


time_sum = 0
n = 100
for i in range(n):
    st = time.perf_counter_ns()
    entries = fast_ma.ma_crossed_above(slow_ma)
    exits = fast_ma.ma_crossed_below(slow_ma)
    pf = vbt.Portfolio.from_signals(btc_price, entries, exits)
    et = time.perf_counter_ns()
    time_sum += et - st

avg_time_millis = time_sum / n / 1e6
tr = pf.total_return()

print(f"Total return: {tr:.3%}")
print(f"Time elapsed Avg: {avg_time_millis:.3f} ms")

Total return: 63.519%
Time elapsed Avg: 18.029 ms

In [30]:
df = pd.DataFrame(btc_price)
df["ma_fast"] = df["Close"].rolling(10).mean()
df["ma_slow"] = df["Close"].rolling(20).mean()
df.index = df.index.astype('int64')
df.dropna(inplace=True)
df

                           Close      ma_fast      ma_slow
Date
1547942400000000000  3601.013672  3655.933936  3786.643591
1548028800000000000  3576.032471  3644.800635  3773.269214
1548115200000000000  3604.577148  3639.128247  3756.327600
1548201600000000000  3585.123047  3642.345239  3743.746692
1548288000000000000  3600.865479  3631.826562  3730.904089
...                          ...          ...          ...
1577404800000000000  7290.088379  7288.358252  7235.358203
1577491200000000000  7317.990234  7292.477002  7223.040454
1577577600000000000  7422.652832  7314.457861  7224.128125
1577664000000000000  7292.995117  7321.875732  7224.871899
1577750400000000000  7193.599121  7322.119775  7223.680493

[346 rows x 3 columns]

In [31]:
output_path = os.path.join(os.getcwd(), 'data_fast.h5')
if os.path.exists(output_path):
    os.remove(output_path)

ticker = "BTCUSD"
with h5py.File(output_path, "a") as file:
        stock_data = df.to_numpy()
        index = df.index.map(lambda timestamp: int(timestamp)).to_numpy()
        dataset = file.create_dataset(f"{ticker}/data", data=stock_data)
        file.create_dataset(
                f"{ticker}/datetime",
                data = index,
        )
        for column in df.columns:
            dataset.attrs[column] = column

In [8]:
(time_sum / n) * 1e4

54.108643531799316