In [30]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import zipfile
import matplotlib.pyplot as plt
import bt

In [2]:
tickers_new = 'aapl,msft,c,gs,ge,jnj,pg,ko,amzn,jpm,adbe,ma,dis,txn'
data = bt.get(
    tickers_new,
    start='2010-01-01',
    end = '2022-07-01'
)
data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,aapl,msft,c,gs,ge,jnj,pg,ko,amzn,jpm,adbe,ma,dis,txn
Date,,,,,,,,,,,,,,
2010-01-04,6.478996,23.474916,26.893305,136.536942,67.992661,42.974457,40.160061,18.498026,6.695000,29.669846,37.090000,23.853485,27.843178,18.196350
2010-01-05,6.490201,23.482506,27.921574,138.950867,68.344711,42.476147,40.173195,18.274252,6.734500,30.244543,37.700001,23.782900,27.773722,18.091406
2010-01-06,6.386964,23.338394,28.791653,137.467773,67.992661,42.821648,39.982651,18.267765,6.612500,30.410723,37.619999,23.748516,27.626127,17.958487
2010-01-07,6.375157,23.095676,28.870747,140.157806,71.513290,42.516022,39.765812,18.222359,6.500000,31.013123,36.889999,23.593323,27.634809,18.014446
2010-01-08,6.417542,23.254963,28.396154,137.507187,73.053581,42.662189,39.713253,17.885092,6.676000,30.936968,36.689999,23.601692,27.678219,18.427206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-24,140.444199,264.041077,44.782074,289.352966,52.030643,174.613449,138.010956,60.242382,116.459999,111.237900,387.720001,326.949310,97.462357,149.027634
2022-06-27,140.444199,261.269501,44.754005,287.470154,51.805439,174.450592,136.959244,60.118153,113.220001,110.346634,381.070007,325.297302,96.296165,148.712280
2022-06-28,136.260437,252.974396,44.173878,286.237244,51.160873,169.488739,134.731567,59.516109,107.400002,109.815659,365.630005,314.870514,95.608398,147.317078
2022-06-29,138.035065,256.702728,44.070946,289.859528,49.460171,169.536652,135.955368,59.946136,108.919998,109.322632,368.500000,319.124329,95.339279,145.998337
2022-06-30,135.546616,253.319626,43.032337,283.876526,49.444641,170.034744,137.475540,60.118153,106.209999,106.772087,366.059998,312.090729,94.093346,146.829712

In [16]:
c_path = r"C:\Users\natha\OneDrive\Desktop\C++\Atlas\AtlasPy\src\crypto exchange"

# get all files in the directory
files = os.listdir(c_path)
files = [f for f in files if f.endswith('.csv')]

for f in files:
    df = pd.read_csv(c_path + '\\' + f)
    df.index = pd.to_datetime(df.index)
    df.index = df.index.astype('int64')
    df.sort_index(inplace=True)
    df.to_csv(c_path + '\\' + f, index=False)

In [78]:
def list_files_in_zip(zip_file_path):
    files = []
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        file_list = zip_ref.namelist()
        for file_name in file_list:
            files.append(file_name)
    return files

def dataframe_from_zip(zip_file_path, file_name):
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        with zip_ref.open(file_name) as file:
            df = pd.read_csv(file)
    return df

def clean_df(df):
    df = df[df.columns[2:]]
    df.set_index('Date', inplace=True)
    df.index = pd.to_datetime(df.index)
    df.index = df.index.astype('int64')
    df.sort_index(inplace=True)
    return df

archive = r"C:\Users\natha\Downloads\archive.zip"
output = r"C:\Users\natha\OneDrive\Desktop\C++\Atlas\AtlasPy\src\crypto exchange"
threshold = 1e6

#remove all files in output directory
files = os.listdir(output)
for f in files:
    os.remove(output + '\\' + f)

files = list_files_in_zip(archive)
files = [f for f in files if f.endswith('.csv')]

coins = {
    "BTC-USD",
    "ETH-USD",
    "BNB-USD",
    "SOL-USD",
    "ADA-USD",
    "XRP-USD",
    "DOGE-USD",
    "AVAX-USD",
    "TRON-USD",
    "LINK-USD",
    "LTC-USD",
    "DOT_USD",
    "MATIC-USD",
    "TON-USD",
    "ICP-USD",
    "UNI-USD",
    "ATOM-USD",
    "IMX-USD",
    "TIA-USD",
    "OP-USD",
    "XLM-USD",
    "KAS-USD",
    "NEAR-USD"
}

for f in tqdm(files):
    coin = f.split("/")[-1].split(".")[0]
    if coin not in coins:
        continue
    df = dataframe_from_zip(archive, f)

    if not len(df) > 0:
        continue

    first_price = df["Close"].iloc[0]
    first_volume = df["Volume"].iloc[0]
    if first_price * first_volume < threshold:
        continue

    df_clean = clean_df(df)

    out_path = output + '\\' + f.split("/")[-1]
    df_clean.to_csv(out_path, index=True)

  0%|          | 0/7538 [00:00<?, ?it/s]

C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
  6%|▌         | 470/7538 [00:00<00:01, 3763.73it/s]C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
 11%|█         | 848/7538 [00:00<00:02, 2322.97it/s]C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
 30%|██▉       | 2244/7538 [00:00<00:01, 5192.97it/s]C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
 49%|████▉     | 3722/7538 [00:00<00:00, 7864.05it/s]C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
 62%|██████▏   | 4638/7538 [00:00<00:00, 7499.89it/s]C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
 86%|████████▌ | 6477/7538 [00:00<00:00, 9232.67it/s]C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
C:\Users\natha\AppData\Local\Temp\ipykernel_33500\953849682.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_index(inplace=True)
100%|██████████| 7538/7538 [00:01<00:00, 7432.82it/s]

In [75]:
df

,Name,Symbol,Date,Open,High,Low,Close,Adj Close,Volume
0,XRP USD,XRP-USD,2017-11-09,0.217911,0.221791,0.214866,0.217488,0.217488,147916992
1,XRP USD,XRP-USD,2017-11-10,0.218256,0.219068,0.205260,0.206483,0.206483,141032992
2,XRP USD,XRP-USD,2017-11-11,0.205948,0.214456,0.205459,0.210430,0.210430,134503008
3,XRP USD,XRP-USD,2017-11-12,0.210214,0.210214,0.195389,0.197339,0.197339,251175008
4,XRP USD,XRP-USD,2017-11-13,0.197472,0.204081,0.197456,0.203442,0.203442,132567000
...,...,...,...,...,...,...,...,...,...
2171,XRP USD,XRP-USD,2023-10-20,0.522982,0.529072,0.510120,0.522737,0.522737,1574470400
2172,XRP USD,XRP-USD,2023-10-21,0.515393,0.529482,0.512345,0.522209,0.522209,685668864
2173,XRP USD,XRP-USD,2023-10-22,0.520979,0.523571,0.516026,0.519355,0.519355,544090432
2174,XRP USD,XRP-USD,2023-10-23,0.522797,0.538061,0.520995,0.537369,0.537369,1397369600
2175,XRP USD,XRP-USD,2023-10-24,0.547622,0.581254,0.537571,0.558227,0.558227,2926472448

In [77]:
df_clean

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1510185600000000000,0.217911,0.221791,0.214866,0.217488,0.217488,147916992
1510272000000000000,0.218256,0.219068,0.205260,0.206483,0.206483,141032992
1510358400000000000,0.205948,0.214456,0.205459,0.210430,0.210430,134503008
1510444800000000000,0.210214,0.210214,0.195389,0.197339,0.197339,251175008
1510531200000000000,0.197472,0.204081,0.197456,0.203442,0.203442,132567000
...,...,...,...,...,...,...
1697760000000000000,0.522982,0.529072,0.510120,0.522737,0.522737,1574470400
1697846400000000000,0.515393,0.529482,0.512345,0.522209,0.522209,685668864
1697932800000000000,0.520979,0.523571,0.516026,0.519355,0.519355,544090432
1698019200000000000,0.522797,0.538061,0.520995,0.537369,0.537369,1397369600
1698105600000000000,0.547622,0.581254,0.537571,0.558227,0.558227,2926472448