In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bt

In [2]:
tickers_new = 'aapl,msft,c,gs,ge,jnj,pg,ko,amzn,jpm,adbe,ma,dis,txn'
data = bt.get(
    tickers_new,
    start='2010-01-01',
    end = '2022-07-01'
)
data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,aapl,msft,c,gs,ge,jnj,pg,ko,amzn,jpm,adbe,ma,dis,txn
Date,,,,,,,,,,,,,,
2010-01-04,6.478996,23.474916,26.893305,136.536942,67.992661,42.974457,40.160061,18.498026,6.695000,29.669846,37.090000,23.853485,27.843178,18.196350
2010-01-05,6.490201,23.482506,27.921574,138.950867,68.344711,42.476147,40.173195,18.274252,6.734500,30.244543,37.700001,23.782900,27.773722,18.091406
2010-01-06,6.386964,23.338394,28.791653,137.467773,67.992661,42.821648,39.982651,18.267765,6.612500,30.410723,37.619999,23.748516,27.626127,17.958487
2010-01-07,6.375157,23.095676,28.870747,140.157806,71.513290,42.516022,39.765812,18.222359,6.500000,31.013123,36.889999,23.593323,27.634809,18.014446
2010-01-08,6.417542,23.254963,28.396154,137.507187,73.053581,42.662189,39.713253,17.885092,6.676000,30.936968,36.689999,23.601692,27.678219,18.427206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-24,140.444199,264.041077,44.782074,289.352966,52.030643,174.613449,138.010956,60.242382,116.459999,111.237900,387.720001,326.949310,97.462357,149.027634
2022-06-27,140.444199,261.269501,44.754005,287.470154,51.805439,174.450592,136.959244,60.118153,113.220001,110.346634,381.070007,325.297302,96.296165,148.712280
2022-06-28,136.260437,252.974396,44.173878,286.237244,51.160873,169.488739,134.731567,59.516109,107.400002,109.815659,365.630005,314.870514,95.608398,147.317078
2022-06-29,138.035065,256.702728,44.070946,289.859528,49.460171,169.536652,135.955368,59.946136,108.919998,109.322632,368.500000,319.124329,95.339279,145.998337
2022-06-30,135.546616,253.319626,43.032337,283.876526,49.444641,170.034744,137.475540,60.118153,106.209999,106.772087,366.059998,312.090729,94.093346,146.829712

In [3]:
data.to_csv('data.csv')